.header {
	height: 80px;

	background-color: var(--primary);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.headerInner {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	max-width: 1231px;
	height: 100%;
	margin: 0 auto;
	padding: 0 63px;
}

.logoText {
	margin-left: 31px;

	color: var(--text-white-color);

	font-weight: 700;
	font-style: 21px;
}

.logo {
	display: flex;
}

@media (max-width: 975px) {
	.headerInner {
		padding: 0 10px;
	}
}
